.helmignore
*.tmp
*.log
*.tgz
*.gotmpl
*.out
*.secret
*.kubeconfig
.*.lock.hcl
*.tfstate.backup
.*.lock.info
*.tfstate
**/.terraform
charts/
Chart.lock
output/
ci/
minikube-linux-amd64
vcluster
kubectl
